.bigsaving{
    max-width: 1240px;
    min-height: 806px;
    margin-top: 100px;
    transform: translateX(150px);
}
.hovain{
    max-width: 1240px;
    min-height: 393px;  
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}
.shirt{
    padding: 45px 22px;
    width: 400px;
    height: 393px;
    border-radius: 12px;
    background: url(../../font/11.png), lightgray -259.208px -20px / 169.604% 115.097% no-repeat;
    h4{
        max-width: 134px;
        color: white;
    }
    p{
        max-width: 147px;
        color: white;
    }
    h5{
        max-width: 122px;
        color: white;
    }
    img{
        margin-left: 40px;
    }
}
.my-btn-white{
    width: 111px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #FFF;
    font-size: 12px;
    margin-top: 20px;
    color: white;
    background-color: #ffffff00;
}
.printed{
    padding: 45px 22px;
    width: 400px;
    height: 393px;
    border-radius: 12px;
    background: url(../../font/22.png), lightgray -259.208px -20px / 169.604% 115.097% no-repeat;
    h4{
        max-width: 134px;
        color: white;
    }
    p{
        max-width: 147px;
        color: white;
    }
    h5{
        max-width: 122px;
        color: white;
    }
    img{
        margin-left: 40px;
    }
}
.cargo{
   
    padding: 45px 22px;
    width: 400px;
    height: 393px;
    border-radius: 12px;
    background: url(../../font/33.png), lightgray -259.208px -20px / 169.604% 115.097% no-repeat;
    h4{
        max-width: 134px;
        color: rgb(0, 0, 0);
    }
    p{
        max-width: 147px;
        color: rgb(0, 0, 0);
    }
    h5{
        max-width: 122px;
        color: rgb(0, 0, 0);
    }
    img{
        margin-left: 40px;
    }
    button{
        border-color: black;
        color: black;
    }
}
.mr-left{
    margin-left: 220px;
}

.urban{
    max-width: 1240px;
    min-height: 393px;  
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 20PX;
}
.shirtsz{
    width: 610px;
    height: 393px;
    border-radius: 12px;
    background: url(../../font/Rectangle\ 77.png), lightgray -90.6px -6.858px / 116.59% 120.659% no-repeat;

    h4{
        max-width: 134px;
        color: rgb(0, 0, 0);
    }
    p{
        max-width: 147px;
        color: rgb(0, 0, 0);
    }
    h5{
        max-width: 122px;
        color: rgb(0, 0, 0);
    }
    img{
        margin-left: 40px;
    }
    button{
        border-color: black;
        color: black;
    }
    div{
        margin: 60px 0px;
        transform: translateX(375px);
    }
}
.shirts{
    width: 610px;
    height: 393px;
    border-radius: 12px;
    background: url(../../font/Rectangle\ 78.png), lightgray -90.6px -6.858px / 116.59% 120.659% no-repeat;

    h4{
        max-width: 134px;
        color: rgb(0, 0, 0);
    }
    p{
        max-width: 147px;
        color: rgb(0, 0, 0);
    }
    h5{
        max-width: 122px;
        color: rgb(0, 0, 0);
    }
    img{
        margin-left: 40px;
    }
    button{
        border-color: black;
        color: black;
    }
    div{
        margin: 60px 0px;
        transform: translateX(375px);
    }
}
.yellow60{
    color: gold;
}
.topbrids{
    text-align: center;
    max-width: 1233px;
    height: 357.174px;
    border-radius: 12px;
    background-color: #3C4242;
    color: white;
    margin-top: 120px;
    transform: translateX(150px);
    img{
        max-width:700px ;
    }
    h2{
        margin-top: 48px;
        display: inline-block;
    }
    h5{
        margin-top: 25px;
    }
    img{
        margin-top: 67px;
    }
}


.form-control{
    margin: 31px 20px;
}
