.boxx{
    color: black;
}
.navbar-nav{
    transform: translateX(90px);
}
.navbar-nava{
    transform: translateX(240px);
}
#with-input{
    width: 300px;
}
.card-corusel-btn{
    position: absolute;
    transform: translateX(230px);
    margin-top: 147px;
    color: aliceblue;
    z-index: 10;
    margin-top: 65px;
    max-width: 326px;
    height: 4   05px;
     h3{
        margin-top: 55px;
     }
     button{
        margin-top: 35px;
        width: 140px;
     }
     h1{
        margin-top: 25px;
     }

}
